<div th:fragment="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Magikart</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/product">Home</a></li>
      <li><a href="/product">Products</a></li>
      <li><a href="/employee">Employee</a></li>
     
    
     </ul> 
         <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li class="float-right" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
  </div>
</nav>
</div>