<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="fragments/menu.html :: menu"></div>


	<div class="container">

   <span sec:authentication="principal.authorities">Roles</span>
    <div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>

       <p th:text="${error}" class="btn btn-alert"></p>
       
        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		<div
			th:replace="fragments/create_employee.html :: create_employee_fragment">
		</div>
       </div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Salary</th>
					 <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
					<th>Edit</th>
					<th>Delete</th>
					</div>
				</tr>
			</thead>

			<tr th:each="emp :${employees}">
				<td th:text="${emp.id}"></td>
				
	
				<td th:text="${emp.name}"></td>
				
				<td th:text="${emp.salary}"></td>
				      <td>
				      
		           <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                      <a th:href="@{/edit/{id}(id=${emp.id})}"
                         class="btn btn-primary">
                          Edit
                        </a>
                        </div>
                      </td>
                      
				      <td>
				      <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                      <a th:href="@{/delete/{id}(id=${emp.id})}"
                         class="btn btn-primary">
                          Delete
                         </a>
                         </div>
                      </td>
			</tr>
		</table>
	</div>
</body>
</html>